html, body {
    background: #333;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: source-sans-pro;
}
body {
    font-size: 1.1em;
    -webkit-font-smoothing: antialiased;
}

header {
    background: url(http://lorempixel.com/1000/600) 50% 50% no-repeat;
    background-size: cover;
    height: 10em;
}

@media only screen and (min-width: 40.063em) {
    header {
        height: 20em;
    }
}

.title, .subtitle {
    line-height: 1em;
}
.title {
    color: #fff;
    line-height: 1em;
    margin-bottom: 0;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
}
.title a {
    color: #fff;
}
.title a:hover {
    color: #ddd;
}
.subtitle {
    margin-top: 0;
    color: #ddd;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
}

.item {
    padding-top: 1.5em;
    padding-bottom: 0.6em;
}
.stripe h3 {
    margin-bottom: 0;
    line-height: 1em;
}
.stripe h3, .stripe a {
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(32, 45, 37, 0.5);
}
.stripe img {
    box-shadow: 0 0 5px rgba(42, 42, 42, 0.3);
}

@media only screen and (max-width: 40em) {
    .stripe:nth-child(odd) .item:nth-child(odd), .stripe:nth-child(even) .item:nth-child(even) {
        background: #83a08e;
    }
    .stripe:nth-child(odd) .item:nth-child(odd) h3, .stripe:nth-child(even) .item:nth-child(even) h3, 
    .stripe:nth-child(odd) .item:nth-child(odd) a, .stripe:nth-child(even) .item:nth-child(even) a {
        color: #dbf7e6;
    }
    .stripe:nth-child(odd) .item:nth-child(odd) p, .stripe:nth-child(even) .item:nth-child(even) p {
        color: #dbf7e6;    
    }
    .stripe:nth-child(odd) .item:nth-child(odd) p.date, .stripe:nth-child(even) .item:nth-child(even) p.date {
        color: #add9bd;    
    }
    .stripe:nth-child(odd) .item:nth-child(odd) a:hover, .stripe:nth-child(even) .item:nth-child(even) a:hover {
        color: #acf0c6;  
    }
    
    .stripe:nth-child(odd) .item:nth-child(even), .stripe:nth-child(even) .item:nth-child(odd) {
        background: #a07d7b;
    }
    .stripe:nth-child(odd) .item:nth-child(even) h3, .stripe:nth-child(even) .item:nth-child(odd) h3,
    .stripe:nth-child(odd) .item:nth-child(even) a, .stripe:nth-child(even) .item:nth-child(odd) a {
        color: #f5d6d3;
    }
    .stripe:nth-child(odd) .item:nth-child(even) p, .stripe:nth-child(even) .item:nth-child(odd) p {
        color: #f5d6d3;    
    }
    .stripe:nth-child(odd) .item:nth-child(even) p.date, .stripe:nth-child(even) .item:nth-child(odd) p.date {
        color: #ddadab;    
    }
    .stripe:nth-child(odd) .item:nth-child(even) a:hover, .stripe:nth-child(even) .item:nth-child(odd) a:hover {
        color: #f2b0ae;  
    }
}

@media only screen and (min-width: 40.063em) {
    .stripe:nth-child(odd) {
        background: #83a08e;
    }
    .stripe:nth-child(odd) h3, .stripe:nth-child(odd) a {
        color: #dbf7e6;
    }
    .stripe:nth-child(odd) p {
        color: #dbf7e6;    
    }
    .stripe:nth-child(odd) p.date {
        color: #add9bd;    
    }
    .stripe:nth-child(odd) a:hover {
        color: #acf0c6;  
    }
    
    .stripe:nth-child(even) {
        background: #a07d7b;
    }
    .stripe:nth-child(even) h3, .stripe:nth-child(even) a {
        color: #f5d6d3;
    }
    .stripe:nth-child(even) p {
        color: #f5d6d3;    
    }
    .stripe:nth-child(even) p.date {
        color: #ddadab;    
    }
    .stripe:nth-child(even) a:hover {
        color: #f2b0ae;  
    }
}

.date {
    margin-top: 0;
    font-size: 0.8em;
}

footer {
    padding: 1em 0 0;
    background: #333;
    color: #999;
    text-align: center;
}