body, h1, h2, h3, h4, h5, h6 {
    font-family: source-sans-pro;
}
body {
    font-size: 1.1em;
}

header {
    background: url(http://placekitten.com/1000/600) 50% 50% no-repeat;
    background-size: cover;
    height: 10em;
}

@media only screen and (min-width: 40.063em) {
    header {
        height: 20em;
    }
}

.title, .subtitle {
    line-height: 1em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.title {
    color: #fff;
    line-height: 1em;
    margin-bottom: 0;
}
.subtitle {
    margin-top: 0;
    color: #ddd;
}

.stripe {
    padding: 1.5em 0 0.6em;
}

.stripe:nth-child(odd) {
    background: #83a08e;
}
.stripe:nth-child(odd) img {
    box-shadow: 0 0 5px rgba(32, 45, 37, 0.3);
}
.stripe:nth-child(odd) h3, .stripe:nth-child(odd) a {
    color: #bcecce;
    text-shadow: 0 1px 2px rgba(32, 45, 37, 0.5);
}
.stripe:nth-child(odd) p {
    color: #cae8d5;    
}
.stripe:nth-child(odd) p.date {
    color: #add9bd;    
}
.stripe:nth-child(odd) a:hover {
    color: #9cd9b3;  
    text-shadow: 0 1px 2px rgba(32, 45, 37, 0.5);
}

.stripe:nth-child(even) {
    background: #a07d7b;
}
.stripe:nth-child(even) img {
    box-shadow: 0 0 5px rgba(26, 19, 18, 0.3);
}
.stripe:nth-child(even) h3, .stripe:nth-child(even) a {
    color: #e8bcb9;
    text-shadow: 0 1px 2px rgba(26, 19, 18, 0.5);
}
.stripe:nth-child(even) p {
    color: #e4bebc;    
}
.stripe:nth-child(even) p.date {
    color: #ddadab;    
}
.stripe:nth-child(even) a:hover {
    color: #f2a6a3;  
    text-shadow: 0 1px 2px rgba(26, 19, 18, 0.5);
}

.stripe h3 {
    margin-bottom: 0;
    line-height: 1em;
}
.date {
    margin-top: 0;
    font-size: 0.8em;
}

footer {
    padding: 1em 0 0;
    background: #333;
    color: #999;
    text-align: center;
}